
ul {
    list-style-type: disc; /* choose the bullet style */
}
.info li {
    float: left; /* make the list items horizontal */
    margin-right: 10px; /* add some space between them */
}
li:first-child {
    list-style-type: none; /* remove the bullet from the first item */
}
.container{
    text-align: center;
}
